<div class="col-sm-12 container" style="padding:20px;">
  <div class="panel panel-primary">
    <!-- <div class="panel-heading">Product List</div> -->
    <div class="panel-body fixed-panel">
      <div class='table-responsive'>
        <table class='table'>
          <thead class="thead-dark">
            <tr>
              <th>Product</th>
              <th>Code</th>
              <th>Price</th>
              <th>Added</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productlist">
              <td>{{product.productname}}</td>
              <td>{{product.code}}</td>
              <td>{{product.price | currency: 'USD' :true: '1.2-2'}}</td>
              <td>{{product.qty ? product.qty : "Not Added"}}</td>

              <td>
                <a class="btn btn-primary" (click)="addToCart(product)">Add</a>
                <button class="btn btn-info" [disabled]="!product.qty" (click)="removeFromCart(product)" style="margin-left:10px;">Remove</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center"><button class="btn btn-success" (click) = "moveToCheckout()">Checkout</button></div>
</div>